<div class="navbar">
    <div class="logo">
        <h2>Registration Backend</h2>
    </div>
    <ul>
        <li><a href="/">Home</a></li>
        <li><a href="/login">Login</a></li>
        <li><a href="/register">Register</a></li>
    </ul>
</div>